

.sliderContainer {
  width: 100%;        
  height: auto;      
  position: relative; 
}

.overlay {
  position: absolute;
  top: 60%;              
  left: 10%;  
  transform: translateY(-50%); 
  text-align: left;       
}
.textCommon {
  color: white;              
  font-family: 'Arial', sans-serif;  
  font-weight: 300;         
  font-size: 20px;          
  text-align: left;  
        
}

.buttonRightContainer {
  position: absolute;
  right: -200%;          
  top: 70%;       
  z-index: 10;       
  transform: translateY(-50%);
}

.viewJobsButton {
  padding: 10px 40px;
  border: 1px solid white;   
  background-color: transparent;  
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.viewJobsButton:hover {
  background-color: rgba(255, 255, 255, 0.1);  // Light background on hover
}

.unionImageContainer {
  position: absolute;
  left: 5%;            
  top: 70%;             
  transform: translateY(-50%);
}

.unionImageRightContainer {
  position: absolute;
  right: -215%;           
  top: 70%;             
  transform: translateY(-50%);
}


.sliderLogoContainer {
 position: absolute;
  bottom:15px;
  left: 10%;              
  transform: translateY(50%); 
}



.jobListingContainer {
  margin-top: -30px; 
  text-align: center; 
  
}

.jobList {
  display: flex; 
  justify-content: center; 
  flex-wrap: wrap; 
  gap: 50px;
  
  span {
    font-size: 14px; 
    margin: 0;
    cursor: pointer; /* Make the text clickable */
    
    &:hover {
      color: #0045E6; 
    }
  }
}
 
.latestJobsTitle {
  color: #0045E6;

}

.searchImageContainer {
  position: absolute;
  margin-top: -130px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
 width: 40%;
}

.searchImageContainer input {
  border: none;
  outline: none;
  font-size: 16px;
  padding: 8px;
  border-radius: 50px;
 
}

.searchImageContainer .searchIcon {
  margin-right: 10px;
}
.findJobsButton {
  background-color: #1e90ff; 
  border-radius: 50px;
  color: white;
  padding: 10px 10px;
  font-size: 16px;
  border: none;
  margin-left: auto; 
}

.locationDropdown {
  
  padding: 8px; 
  border: none;/* Border */
 // border-radius: 4px; /* Rounded corners */
 // margin-left: 4px; /* Space between flag and dropdown */
  cursor: pointer; /* Pointer on hover */
}
.locationDropdown:focus {
  outline: none; /* Remove outline on focus */
}


.locationContainer {
  display: flex;
  margin-left: 40px;
  align-items: center;
  justify-content: right;
 
}












