.slick-prev, 
  .slick-next {
     width: 6.25px;  
    height: 10px; 
    color: black;            
    background: none;  
    border: none;   
    cursor: pointer;
 }
 .slick-prev {
  position: absolute;
   margin-top: 150px !important;
    left: 90px !important;
   z-index: 10; 
   color: white;
}


  
.slick-next {
  position: absolute; 
  margin-top: -100px;    
  right: 90px;
  color: white;
}



.slider-dots {
  display: flex;
  justify-content: center;
  flex-direction: row; 
  position: relative; 
  top: -35px; 
  margin-left: 250px;
}

li {
  display: inline-flex;
  margin: 0 5px;
  list-style: none;

  button {
    display: none;
  }

  // Create custom dots
  &::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid white;
    cursor: pointer;
    margin: 0;
    transition: background-color 0.3s;
  }

  &.slick-active::before {
    background-color: white;
    border: 1px solid black;
  }
}


