@import "../../app/variables";

.container {
  padding: 20px;
 width: 100%;
  margin-top: 80px; 
  background-color: #f8f8f8;
  border-radius: 8px;


}

.mainCard {
 width: 110%; 
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
}

.agencySection {
  display: flex;
  flex-direction: column; 
  padding: 20px 0;
  margin-top: 80px;
  
  &:last-child {
      border-bottom: none;
  }
}

.logo {
  width: 50px;
  height: 50px;
  margin-top: -80px;
  margin-left: -30px;
  flex-shrink: 0; 
}

.companyName {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin-top: -70px;

}

.verifiedIcon {
  color: green;
  margin-left: 5px;
}

.regNo {
  font-size: 16px;
  color: #888;
  margin-top: -10px;

}

.jobsPosted {
  font-size: 16px;
  color: #333;
  margin-left: 10px;
  margin-top: -80px;

}

.jobsPostedIcon{
  flex-shrink: 0; 
  margin-left: -100px;
  margin-top: -80px;

}
.alarmIcon{
  flex-shrink: 0;
  margin-left: -40px;
  margin-top: -80px;
}
.validity {
  font-size: 16px;
  color: #333;
  white-space: nowrap; 
  margin-top: -80px;
  margin-left: 10px;

}

.viewJobsButton {
  white-space: nowrap;
  margin-top: -80px; 
  margin-left: 140px;
  padding: 10px 25px;    
  font-size: 14px;     
  color: blue;            
  background-color: white;
  border: 1px solid blue; 
  border-radius: 25px;   
  cursor: pointer;      
  transition: background-color 0.3s, color 0.3s; 
  
  &:hover {
      background-color: blue;
      color: white;          
  }
}


//Search
.searchImageContainer {
  margin: 150px auto 0px auto;

  background-color: #fff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 16px 20px rgba(34, 34, 34, 0.16);
  padding: 10px 20px;
  max-width: 100%;
  width: 960px;
 // margin-top: 100px;
  
}

.searchBox{
  flex: 1;
}
.searchImageContainer input {
  border: none;
  outline: none;
  font-size: 16px;
  padding: 8px;
  border-radius: 50px;

}

.searchImageContainer .searchIcon {
  margin-right: 10px;
}

.findJobsButton {
  background-color: $color-brand-1;
  border-radius: 60px;
  color: white;
  padding: 20px 45px;
  font-size: 14px;
  font-weight: 500;
  margin-left: 70px; 
  border: none;
  margin-bottom: -8px;
  margin-right: -18px;
  margin-top: -8px;
}

.locationDropdown:focus {
  outline: none;
}

.locationContainer {
  display: flex;
  align-items: center;
  justify-content: right;

}

.separator {
  width: 1px;
  height: 30px; 
  background-color: #ccc; 
  margin-right: 20px; 

}
@media (max-width: 1190px) {
  .sliderContainer{
    padding-top: 70px;
  }
}
@media (max-width: 767px) {
  .jobListingContainer{
    margin-top: 40px;
  }
  .slide{
    padding-top: 20px;
  }
  .jobList{
    gap: 20px;
    
  }
  .overlay{
    display: block;
  }
  .viewJobsButton{
    padding: 5px 20px;
    float: right;
    margin-top: 0px;
    font-size: 12px;
  }
  .textCommon{
    font-size: 14px;
  }
  .searchImageContainer{
    position: relative;
    gap: 0px;
    justify-content: flex-start;
    .searchBox{
      display: flex;
      align-items: center;
      width:48%;
      font-size: 12px;
      flex: none;
      .searchInput{
        width: 100%;
      }
    }
    .separator{
      margin-right: 10px;
    }
    .findJobsButton{
      padding: 16px 25px;
      position: absolute;
      margin-left: 0px;
      right: 20px;
    }
  }
}

.jobListingContainer {
  margin-top: 40px; 
  text-align: center; 
}

.jobList {
  display: flex; 
  justify-content: center; 
  flex-wrap: wrap; 
  gap: 64px;
  
  span {
    font-size: 14px; 
    font-weight: 400;
    line-height: 16px;
    margin: 0;
    cursor: pointer; 
    
    &.active {
      color: $color-brand-1;
    }

    &:hover {
      color: $color-brand-1; 
    }
  }
}

.vectorIcon {
  width: 10px; 
  height: 5px; 
  margin-left: 0px;
  margin-top: 5px;   
}

.jobList span {
  display: inline-flex; 
}

.jobList span:first-child {
  margin-right: 15px; 
}



.labelWithIcon {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: $color-brand-1;
  cursor: pointer;
}

.dropdownMenu {
  position: absolute;
  margin-top: 30px;
  margin-left: -650px;
  transform: translateX(-50%);
  width: 200px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1000;
  padding: 8px 0;
  text-align: left;
}

.stateItem {
  padding: 10px 16px;
  cursor: pointer;
  border-bottom: 1px solid #f0f0f0;

  &:last-child {
    border-bottom: none;
  }


}
.stateLabel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #333;
}

.arrow {
  font-size: 12px;
  color: #888;
  transition: background-color 0.3s, color 0.3s;
}

.cityDropdown {
  margin-top: 5px;
  font-size: 16px;
  color: #333;
}

.cityItem {
  padding: 10px 16px;
  cursor: pointer;
  margin-left: -15px;
  border-bottom: 1px solid #f0f0f0;

  &:last-child {
    border-bottom: none;
  }
}


.arrowSelected {
  background-color: blue;
  border-radius: 50%;
  color: white;
  padding: 5px;
}
