.cardContainer{
    padding-top: 24px;
    margin-bottom: 20px;
    .jobCard{
      padding: 16px;
      box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.16);
      .jobImage{
        height: 378px !important;
        object-fit: cover;
        object-position: top;
      }
      .cardBody{
        padding: 0px !important;
        padding-top: 16px !important;
        display: flex;
            flex-direction: column;
            justify-content: space-between;
        .cardTitle{
          font-size: 16px;
          font-weight: 700;
           display: flex;
           gap: 6px;
           margin-bottom: 12px;
           align-items: center;
        }
        .iconContainer{
          display: flex;
          min-height: 70px;
          margin-bottom: 5px;
          flex-wrap: wrap;
          align-items: flex-start;
          
          img{
            margin-right: 4px;
            vertical-align: middle;
          }
          span{
            font-size: 12px;
            font-weight: 400;
            vertical-align: middle;
            color: rgba(117, 117, 117, 1);
          }
          .iconWrapper{
            display: flex;
            flex: 50%;
            align-items: center;
            margin-bottom: 10px;
          }
        }
        .jobMetaContainer{
          display: flex;
          align-items: center;
          justify-content: space-between;
          .jobMeta{
            display: flex;
            align-items: center;
          }
          span{
            font-size: 14px;
            color: rgba(117, 117, 117, 1);
            font-weight: 400;
          }
        }
      }
     
      &:hover{
        cursor: pointer;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.16);
  
      }
      
    }
    .cardCol{
      padding: 0px 10px;
    }
@media screen and (max-width:1366px) {
        padding-bottom: 20px;
        .jobCard{
            .cardBody{
                .iconContainer{
                    span{
                        font-size: 13px;
                    }
                }
                .jobMetaContainer{
                    span{
                        font-size: 11px;
                    }
                }
            }
        }
    }
}
  