.sliderContainer {
  width: 100%;        
  height: auto;      
  position: relative; 
}

.overlay {
  position: absolute;
  top: 60%;              
  left: 10%;  
  transform: translateY(-50%); 
  text-align: left;       
}

.textCommon {
  color: white;              
  font-family: 'Arial', sans-serif;  
  font-weight: 300;         
  font-size: 20px;          
  text-align: left; 
  margin-left: -60px; 

  @media (max-width: 768px) { 
    font-size: 18px; 
    margin-left: -30px;
  }

  @media (max-width: 480px) {
    font-size: 16px;
    margin-left: 0;
  }
}

.buttonRightContainer {
  position: absolute;
  right: -270%;          
  top: 70%;       
  z-index: 10;       
  transform: translateY(-50%);

  @media (max-width: 768px) {
    right: -50%; 
  }

  @media (max-width: 480px) {
    right: 0; 
    top: 80%;
  }
}

.viewJobsButton {
  padding: 10px 40px;
  border: 1px solid white;   
  background-color: transparent;  
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;

  @media (max-width: 768px) {
    padding: 8px 30px;
    font-size: 0.9rem; 
  }

  @media (max-width: 480px) { 
    padding: 6px 20px; 
    font-size: 0.8rem; 
  }
}


.viewJobsButton:hover {
  background-color: rgba(255, 255, 255, 0.1); 
}

.jobListingContainer {
  margin-top: 50px; 
  text-align: center; 
  
  @media (max-width: 768px) { 
    margin-top: 30px;
  }

  @media (max-width: 480px) { 
    margin-top: 20px; 
  }
}

.jobList {
  display: flex; 
  justify-content: center; 
  flex-wrap: wrap; 
  gap: 50px;
  
  @media (max-width: 768px) { 
    gap: 30px; 
  }

  @media (max-width: 480px) { 
    gap: 15px; 
    flex-direction: column; 
  }

  span {
    font-size: 14px; 
    margin: 0;
    cursor: pointer; 

    @media (max-width: 768px) {
      font-size: 12px; 
    }

    @media (max-width: 480px) { 
      font-size: 10px; 
    }

    &:hover {
      color: #0045E6; 
    }
  }
}

.latestJobsTitle {
  color: #0045E6;

  @media (max-width: 768px) { 
    font-size: 16px; 
  }

  @media (max-width: 480px) { 
    font-size: 14px; 
  }
}


.searchImageContainer {
  position: absolute;
  margin-top: -70px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  width: 50%;

  @media (max-width: 768px) { 
    width: 70%; 
    padding: 8px 15px; }

  @media (max-width: 480px) { 
    width: 90%; 
    margin-top: -50px; 
  }
}

.searchImageContainer input {
  border: none;
  outline: none;
  font-size: 16px;
  padding: 8px;
  border-radius: 50px;

  @media (max-width: 768px) {
    font-size: 14px; 
  }

  @media (max-width: 480px) { 
    font-size: 12px; 
  }
}

.searchImageContainer .searchIcon {
  margin-right: 10px;
}

.findJobsButton {
  background-color: #1e90ff;
  border-radius: 60px;
  color: white;
  padding: 15px 40px;
  font-size: 16px;
  margin-left: auto; 
  border: none;
  margin-bottom: -8px;
  margin-right: -15px;
  margin-top: -8px;

  @media (max-width: 768px) {
    padding: 10px 25px;
    font-size: 14px;
  }

  @media (max-width: 480px) { 
    padding: 8px 15px; 
    font-size: 12px; 
  }
}

.locationDropdown:focus {
  outline: none;
}

.locationContainer {
  display: flex;
  margin-left: 280px;
  align-items: center;
  justify-content: right;

  @media (max-width: 768px) {
    margin-left: 20px; 
  }

  @media (max-width: 480px) {
    margin-left: 10px; 
    justify-content: center; 
  }
}

.separator {
  width: 1px;
  height: 35px; 
  background-color: #ccc; 
  margin-right: 20px; 

  @media (max-width: 768px) {
    height: 30px; 
  }

  @media (max-width: 480px) { 
    height: 25px;
    margin-right: 10px; 
  }
}
