@import './_variables';

.closeButton {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.sendOtpButton:hover {
  background-color: #0056b3;

}

.loginLinks {
  display: flex;
  justify-content: space-between;

}


.helperLinks {
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  text-decoration: none;
  color: #000;

  &:hover {
    color: $color-brand-1;
  }
}

.continueWithoutLogin {
  margin-top: 72px;
  text-align: center;
}

.continueLink {
  color: black;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  text-align: left;


}

.modalContainer {
  padding: 0px 68px !important;
}

.modalHeader {
  padding: 24px;
  padding-bottom: 0px;
  border-bottom: none;
}

.modalTitle1 {
  margin-top: 32px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 24px;
  font-weight: 900;

}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5px;
}


.loginFooter {
  font-size: 12px;
  color: #999;
  border-top: 2px solid #eee;
  text-align: center;
  font-weight: small;
  padding-top: 24px;
  margin: 48px 68px 3px 68px;
  width: 100%;

}

.contactInput {
  border-radius: 0px 8px 8px 0px !important;
}

.sendOtpButton {
  margin-top: 16px;
  margin-bottom: 24px;
}

.modalTitle2 {

  font-size: 1.5rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}



.otpInputs {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  margin-bottom: 70px;
}

.resendText {
  font-size: 14px;

  a {
    text-decoration: none;
    font-weight: 600;
    margin-left: 8px;
    cursor: pointer;

    &.disableResent {
      pointer-events: none;
      opacity: 0.5;
    }
  }
}

.otpInput {
  height: 64px;
  width: 48px;
  text-align: center;
  margin: 0 5px;
  border: 1px solid #c8c8c8;
  border-radius: 4px;
  background-color: #fff;
}


.otpInput:focus {
  outline: none;
  border-color: #007bff;
}

.otpInputGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;


}

.phoneNumberLabel {
  display: block;
  font-weight: 600;
  margin-bottom: 30px;
  text-align: center;

}

.text-muted {
  color: #6c757d;

}

.otpVerificationContainer {
  padding: 20px;

}


.modalHeader1 {
  border-top: none;
  border-bottom: none;
}




.modalTitle3 {
  margin-top: 20px;
  text-align: center;
  font-weight: 900;
  line-height: 24px;
  margin-bottom: 40px;
}

.formLabelOtp {
  text-align: center;
  color: $color-grey-3;
  font-weight: 400;
  line-height: 24px;
}


.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

}






.modalTitle4 {
  margin-top: 20px;
  font-weight: 800;
  font-size: 20px;
  text-align: left;
  margin-bottom: 8px;
}

.modalDescription {
  font-size: 14px;
  color: #000;
  line-height: 24px;
  margin: 0px 0 30px 0px;
  text-align: left;
  width: fit-content;
}


.uploadBox {
  border: 1px dashed $color-brand-1;
  border-radius: 8px;
  padding: 16px 16px 0px 16px;
  max-width: 100%;
  margin-bottom: 24px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  transition: background-color 0.3s;
  background: $color-brand-2;

  &:hover {
    background-color: rgba(173, 216, 230, 0.5);
  }

  .successBar {
    height: 4px;
    border-radius: 8px;
    width: 100%;
    background-color: rgba(49, 134, 62, 1);
    position: absolute;
    left: 0px;
    bottom: 0px;
  }

  h5 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 4px;
  }

  p {
    font-size: 12px;
    color: $color-grey-1;
    margin-bottom: 20px;
  }
}


.chooseFileButton,
.takeVideoButton {
  background-color: transparent;
  border: 1px solid $color-brand-1;
  color: $color-brand-1;
  padding: 10px 15px;
  margin-top: 0px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-bottom: 24px;
  background-color: #fff;

  &:hover {
    background-color: transparent;
    color: $color-brand-1;
  }

  img {
    margin-right: 10px;
  }
}

.error {
  color: $color-danger !important;
}

.uploadActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 0px !important;

  .skipButton {
    font-size: 14px;
    text-decoration: none;
    color: #000;
    cursor: pointer;

    &:hover {
      color: $color-brand-1;
    }
  }

  .getStartedButton {
    margin: 0px;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 0px;
    width: auto;
    padding: 14px 30px !important;
    transition: all 0.2s ease;
  }
}


.reduce-bottom-padding {
  padding-bottom: -2px !important;
}




.calendarIcon {
  position: absolute;
  right: 10px;
  bottom: 12px;
  cursor: pointer;
  top: auto;
  z-index: 1;
}

.datePickerContainer {
  position: absolute;
  right: 40%;

  margin-right: 10px;

  z-index: 10;
}

.selectContainer {
  position: relative;
}

.iconImage {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.selectInput {
  padding-right: 40px;
}
