
@import './_variables';
.closeButton {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
.sendOtpButton:hover {
  background-color: #0056b3;

}

.loginLinks {
  display: flex;
  justify-content: space-between; 
  
}


.helperLinks {
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  text-decoration: none;  
  color: #000;
  &:hover{
    color: $color-brand-1;
  }
}

.continueWithoutLogin {
  margin-top: 48px;
  text-align: center;
}

.continueLink {
    color: black;
  text-decoration: none;
font-size: 14px;
font-weight: 500;
line-height: 16.94px;
text-align: left;


}

.modalContainer { 
  padding: 0px 68px !important; 
}

.modalHeader {
  padding: 24px;
  padding-bottom: 0px;
  border-bottom: none; 
}

.modalTitle1 {
  margin-top: 32px;
  font-size: 20px; 
  text-align: center;
  margin-bottom: 24px;
  font-weight: 900;
 
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
 margin-top: -5px;
}


.loginFooter {
  font-size: 12px;
  color: #999;
  border-top: 2px solid #eee;
  text-align: center;
 font-weight: small;
 padding-top: 24px;
 margin-top: 48px;

}
 
.contactInput{
  border-radius: 0px 8px 8px 0px !important;
}

.sendOtpButton{
  margin-top: 13px;
  margin-bottom: 24px;
}

 .modalTitle2 {

  font-size: 1.5rem; 
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}



.otpInputs {
  display: flex;
  justify-content: center;
  margin-top: 20px; 
  margin-bottom: 70px;
}

.otpInput {
  width: 40px;
  height: 40px;
  text-align: center;
  margin: 0 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff; 
}


.otpInput:focus {
  outline: none;
  border-color: #007bff;
}

.otpInputGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; 
 
 
}
.phoneNumberLabel {
  display: block;
  margin-top: 10px; 
  margin-bottom: 30px;
  text-align: center;
 
}

.text-muted {
  color: #6c757d;
  
  }
  .otpVerificationContainer {
  padding: 20px; 
  
}







.modalHeader1 {
  border-top: none; 
  border-bottom: none;
}




.modalTitle3 {
  margin-top: 20px; 
  font-size: 1.5rem; 
  text-align: center;
  margin-bottom: 30px;
}



.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
 
}






.modalTitle4 {
  margin-top: 5px;
 
 margin-right: 70px;
  text-align: center; 
  margin-bottom: 15px;
  padding: 10px 10px;
}

.modalDescription {
  font-size: 0.9rem;
  color: black;
  line-height: 1.5;
  margin: -20px 0 30px 20px; 
  text-align: left;
  width: fit-content;
}


.uploadBox {
  border: 2px dashed #007bff;
  border-radius: 8px;
  padding:20px;
  max-width: 90%;
  margin-bottom: 15px;
  margin-left: auto; 
  margin-right: auto;
  text-align: left; 
  transition: background-color 0.3s; 
  
  &:hover {
    background-color: rgba(173, 216, 230, 0.5); 
  }

  h5 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 5px;
    padding-right: 5px;
  }

  p {
    font-size: 0.9rem;
    color: #6c757d;
    margin-bottom: 10px;
  }
}


.chooseFileButton,
.takeVideoButton {
  background-color: transparent;
  border: 1px solid #0045E6;
  color: #007bff;
  padding: 10px 15px;
  
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-top: -3px;
  margin-bottom: 5px;
  &:hover {
    background-color: #0045E6;
    color: #ffffff;
  }

  i {
    margin-right: 8px;
  }
}

.uploadActions {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  .chooseFileButton,
  .takeVideoButton {
    flex: 1;
  }
}

.UploadActions {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  width: 100%; 
 margin-bottom: -35px;
 

  .skipButton {
    background: none;
    border: none;
    color: #6c757d;
    cursor: pointer;
    margin-left: 10px;
  }

  .getStartedButton {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 20px;
   
    transition: all 0.2s ease;

    &:hover {
      background-color: #0056b3;
    }
  }
}


.reduce-bottom-padding {
  padding-bottom: -2px !important;
}



.inputGroup {
  position: relative;

  .calendarIcon {
    position: absolute;
    right: 10px;
    top: 50%; 
    transform: translateY(-50%);
    cursor: pointer; 
    width: 20px; 
    height: 20px; 
    z-index: 1; 
  }

  input {
    padding-right: 40px; 
  }
}

.datePickerContainer {
  position: absolute; 
  right: 40%; 

  margin-right: 10px; 
  
  z-index: 10; 
}

.selectContainer {
  position: relative; }

.iconImage {
  position: absolute;
  right: 10px; 
  top: 50%; 
  transform: translateY(-50%); 
  pointer-events: none; 
}

.selectInput {
  padding-right: 40px;
}
