.form-control-custom {
  height: 36px;
  border-radius: 8px;
  font-size: 16px;
}

.form-select-custom {
  height: 42px;
  border-radius: 8px;
  font-size: 16px;
}

.section-heading-custom {
  font-size: 18px;
}

.main-heading-custom {
  font-size: 28px;
}

.form-label-custom {
  font-size: 14px;
}

.error-message-custom {
  color: red;
  font-size: 13px;
  margin-top: 2px;
}

.button-primary-custom {
  border: 1.5px solid #d8ceff;
  border-radius: 8px;
  width: 200px;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-secondary-custom {
  border: 1.5px solid #d8ceff;
  border-radius: 8px;
  width: 100px;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
